
body {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    margin: 0;
}


.sidebar {
    width: 250px;
    padding: 20px;
    height: 100vh;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
    
}

.sidebar h2 {
    color: whitesmoke;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background: palegreen;
    color: black;
    border-radius: 5px;
}


.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

h1 {
    text-align: center;
    color: white;
}


.playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.song {
    display: flex;
    align-items: center;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}


.song:hover {
    background: blueviolet;
    color: black;
}

.song img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
}

.song-info {
    flex: 1;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.artist {
    font-size: 14px;
    color: #bbb;
}


.play-btn {
    background: palegreen;
    border: none;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.play-btn:hover {
    background: white;
    color: palegreen;
}


.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #181818;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-song {
    flex: 1;
    text-align: center;
    font-size: 18px;
}

#progress-bar {
    width: 50%;
}

#pause-btn {
    background: goldenrod;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#pause-btn:hover {
    background: white;
    color: blueviolet;
}
body{
    background-image: url('bkgd.gif');  
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    
}


audio {
    display: none;
}


.play-btn {
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #181818;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#volume-slider {
    width: 100px;
    cursor: pointer;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181818;
    padding: 15px 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#search-bar {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

